<%= @pet.petname %>
<% @logs.each do |log| %>
  <div class="new-logs">
    <ul class="new-log">
      <li class="log-list">
        <%= "トイレ" %><br>
        <div class="log-content">
          <%= log.toilet %>
        </div>
        <div class="log-date">
          <%= log.created_at.strftime("%Y/%m/%d") %>
        </div>
      </li>
    </ul>
  </div>
<% end %>