* {
  box-sizing: border-box;
}

.index-main {
  width: 650px;
  height: 100%;
  background-color: burlywood;
  background-size: cover;
  margin: 0 auto;
  padding: 5px;
}

.pet-contents {
  display: flex;
  justify-content: left;
  align-items: center;
}

.pet-content {
  height: 100px;
  margin-left: 20px;
  font-weight: bold;
}

.pet-name {
  margin-bottom: 10px;
}

.pet-gender {
  margin-bottom: 10px;
}

.pet-birth-date {
  color: rgb(233, 173, 43);
}

 .pet-image{
  border: 2px solid burlywood;
  width: 200px;
  height: 200px;
  border-radius:50%;
}

.new-log {
  padding: 0;
}

.log-list {
  color: gray;
  border-left: solid 6px burlywood;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

.log-content {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: black;
  font-size: 17px;
}