* {
  box-sizing: border-box;
}

.index-main {
  width: 650px;
  height: 100%;
  background-color: burlywood;
  background-size: cover;
  margin: 0 auto;
  padding: 5px;
}

.pet-contents {
  display: flex;
  justify-content: left;
  align-items: center;
}

.pet-content {
  width: 100%;
  height: 100px;
  margin-left: 20px;
  font-weight: bold;
}

.pet-name {
  width: 250px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pet-gender {
  margin-bottom: 6px;
}

.pet-birth-date {
  color: rgb(233, 173, 43);
}

 .pet-image{
  border: 2px solid burlywood;
  width: 200px;
  height: 200px;
  border-radius:50%;
}

.new-log {
  padding: 0;
}

.log-list {
  color: gray;
  border-left: solid 6px burlywood;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

.log-content {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: black;
  font-size: 17px;
}

.new-record {
  text-decoration: none;
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  /* 幅の指定 */
  width: 100%;
  max-width: 100px;
  box-sizing: border-box;
  padding: 5px;
  /* 色の指定 */
  background: linear-gradient(135deg, #ffd900, #ff9300);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
  border: 2px solid #ff9300;
  background: #fff;
  color: #ff9300;

}
.new-record:hover {
  background: #ff9300;
  color: #fff;
}

.edit {
  width: 100%;
  display: flex;
}

.edit-btn {
  margin: 0 auto;
  text-decoration: none;
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  /* 幅の指定 */
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  padding: 5px;
  /* 色の指定 */
  background: linear-gradient(135deg, #ffd900, #ff9300);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
  border: 2px solid burlywood;
  background: #fff;
  color: #ff9300;
  margin-right: 60px;
}
.edit-btn:hover {
  background: #ff9300;
  color: #fff;
}

.delete-btn {
  margin: 0 auto;
  text-decoration: none;
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  /* 幅の指定 */
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  padding: 5px;
  /* 色の指定 */
  background: linear-gradient(135deg, #ffd900, #ff9300);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
  border: 2px solid red;
  background: #fff;
  color: #ff9300;
  margin-right: 60px;
}
.delete-btn:hover {
  background: red;
  color: #fff;
}

.select-pets {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 35px;
}

.select-pet {
  text-decoration: none;
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  /* 幅の指定 */
  width: 100px;
  height: 38px;
  box-sizing: border-box;
  padding: 5px;
  /* 色の指定 */
  background: linear-gradient(135deg, #ffd900, #ff9300);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
  border: 2px solid #ff9300;
  background: #fff;
  color: #ff9300;
  margin-right: 5px;
}
.select-pet:hover {
  background: #ff9300;
  color: #fff;
}

.select-pet-btn {
  text-decoration: none;
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  /* 幅の指定 */
  width: 50px;
  height: 38px;
  box-sizing: border-box;
  padding: 5px;
  /* 色の指定 */
  background: linear-gradient(135deg, #ffd900, #ff9300);
  color: black;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
  border: 2px solid #ff9300;
  background: #ff9300;
  margin-right: 5px;
}

.select-pet-btn:hover {
  background: #ff9300;
  color: #fff;
}